<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Login</h2>
        <hr>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" [ngClass]="{'is-invalid': username.touched && username.invalid}" [(ngModel)]="model.username" id="username" required #username="ngModel">
                <span class="invalid-feedback">Username can't be blank.</span>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" [ngClass]="{'is-invalid': password.touched && password.invalid}" [(ngModel)]="model.password" id="password" required #password="ngModel">
                <span class="invalid-feedback">Password can't be blank.</span>
            </div>
            <button class="btn btn-primary btn-lg btn-block" [disabled]="loginForm.invalid">Login</button>
        </form>
    </div>
</div>